#based on: https://stackoverflow.com/questions/1826901/should-i-add-vcxproj-filter-files-to-source-control
#based on: https://stackoverflow.com/questions/12682045/git-status-show-files-that-will-be-added-staged-in-subdirectories
/.vs/
/.vscode/
External/
Debug/
Release/
Collision3/*
!Collision3/res/
!Collision3/src/
!Collision3/*.vcxproj
!Collision3/*.vcxproj.filters